RQLZPK_orarend.dtd

<!ELEMENT RQLZPK_orarend (ora+)>
    <!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
        <!ATTLIST ORA ID id #REQUIRED>
        <!ATTLIST ora tipus (elmelet | gyakorlat) "elmelet">

        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT iopont (nap,tol,ig)>
            <!ELEMENT nap (#PCDATA)>
            <!ELEMENT tol (#PCDATA)>
            <!ELEMENT ig (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>